<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" value="notranslate">
    <title>BlocklyBias</title>

    <script src="{{ url_for('static', filename='js/blockly_ML.js') }}"></script>
    <script src="{{ url_for('static', filename='js/blocks_ML.js') }}"></script>
    <script src="{{ url_for('static', filename='js/javascript_compressed.js') }}"></script>
    <script src="{{ url_for('static', filename='js/python_ML.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dist/msg/en.js') }}"></script>
    <script src="{{ url_for('static', filename='js/screenshot.js') }}"></script>
    <script src="{{ url_for('static', filename='js/blockly.js') }}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    <script src="{{ url_for('static', filename='/js/msg/js/en.js')}}"></script>
    <script src="http://pypyjs.org/pypyjs-release/lib/Promise.min.js"></script>
    <script src="http://pypyjs.org/pypyjs-release/lib/FunctionPromise.js"></script>
    <script src="http://pypyjs.org/pypyjs-release/lib/pypyjs.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> <!-- old version 1.9.1 -->

    <script src="{{ url_for('static', filename='js/navigation.js') }}"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">


    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<body onclick="CloseAllNav()" id="body">

    <nav
        class="navbar navbar-expand-lg  navbar-expand-sm  navbar-expand-md  navbar-expand-xl navbar-light bg-light nav-colors">

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <img src="{{ url_for('static', filename='images/blocklyBias_logo.png') }}" height=40 width="130"> &nbsp;
            &nbsp;
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" h data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" onclick="blockly.runJS();CloseAllNav();">
                        File
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle"
                                onclick="getReport()">DataFrame Visualizer(Sample) </a>
                            <ul class="dropdown-menu DataFrameReportViewer">
                                <div class="DataFrameReportViewer" id="DataFrameReportViewer">
                                    <li><a class="dropdown-item" href="#">Report is loading, please wait...</a></li>
                                </div>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" onclick="blockly.runJS();CloseAllNav();getDataDownload()">
                        Download
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        <li><a class="dropdown-item" onclick="downloadView()" data-toggle="modal" data-target="#downloadCodeModal">Download Code</a></li>
                        <li><a class="dropdown-item" onclick="blockly.DownloadCode()">Download layout</a></li>
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">Download DataFrames</a>
                            <ul class="dropdown-menu DataFrameViewer">
                                <div class="DataFrameDownload" id="DataFrameDownload">
                                    <li><a class="dropdown-item" href="#">DataFrame is loading, please wait...</a>
                                    </li>
                                </div>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" onclick="CloseAllNav()">
                        About
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item"
                               href="https://github.com/Claudio-95/BlocklyBias/blob/main/README.md" target="_blank"
                               rel="noopener noreferrer">About BlocklyBias</a></li>
                        <li><a class="dropdown-item" href="https://github.com/Claudio-95" target="_blank"
                                rel="noopener noreferrer">About me</a></li>
                        <li><a class="dropdown-item" href="mailto:c.demartino1@studenti.unipi.it" target="_blank"
                                rel="noopener noreferrer">Contact me</a></li>
                    </ul>
                </li>
            </ul>
            <a href="https://github.com/Claudio-95/BlocklyBias" target="_blank"><img
                    src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" width="48px"
                    height="48px"></a>

            <select id="languageMenu"></select>
        </div>
    </nav>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/navigation.js') }}"></script>

    <!-- Notebook modal -->
    <div class="modal fade" id="notebookModal" tabindex="-1" role="dialog" aria-labelledby="notebookModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="notebookModalLabel">Saving notebook .ipynb</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="file-name" class="col-form-label">File name:</label>
                            <input type="text" class="form-control" id="file-name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="rename_notebook" data-dismiss="modal">Save notebook</button>
                </div>
            </div>
        </div>
    </div>

    <table width="100%" height="95%">
        <tr>
            <td colspan=2>
                <table width="100%">
                    <tr id="tabRow" height="1em">
                        <td id="tab_blocks" class="tabon">Blocks</td>
                        <td class="tabmin tab_collapse">&nbsp;</td>

                        <td class="tabmin tab_collapse">&nbsp;</td>
                        <td id="tab_python" class="taboff tab_collapse">Python</td>

                        <td id="tab_code" class="taboff">
                            <select id="code_menu"></select>
                        </td>

                        <!-- adding new part live embedded notebook -->
                        <td class="tabmin tab_collapse">&nbsp;</td>
                        <td class="tabmin tab_collapse">&nbsp;</td>

                        <td id="tab_notebook" class="taboff tab_collapse">Notebook</td>
                        <!-- end new part -->

                        <td class="tabmax">
                            <button id="downlaodButton" class="notext" title="Download layout">
                                <img src='/static/media/download.png' class="icon">
                            </button>
                            <div class="upload-btn-wrapper">
                                <button id="uplaodButton" data-toggle="modal" data-target="#layoutModal" class="notext" title="Upload saved layout" onclick="blockly.UploadXml()">
                                    <img src='/static/media/upload.png' class="icon">
                                </button>
                            </div>

                            <!-- Layout modal -->
                            <div class="modal fade" id="layoutModal" tabindex="-1" role="dialog" aria-labelledby="layoutModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="layoutModalLabel">Upload Blockly layout</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-popup" id="form_layout">
                                                <form class="form-container" name="urlForm">
                                                    <div class="form-group">
                                                        <div class="drop-zone">
                                                            <span class="drop-zone__prompt">Drop file here or click to upload</span>
                                                            <input type="file" name="myFile" class="drop-zone__input">
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="form-group">
                                                        <label for="url" class="col-form-label"><b>Enter layout URL</b></label>
                                                        <input type="text" placeholder="Enter Url" class="form-control" name="url" required
                                                               value="https://raw.githubusercontent.com/Claudio-95/BlocklyBias/main/sampleLayouts/bias_detection/blocklybias.xml">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" onclick="blockly.UploadFromUrl()" class="btn btn-primary" data-dismiss="modal">Upload</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> <!-- onclick="closeForm()" -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="downloadCodeModal" tabindex="-1" role="dialog" aria-labelledby="downloadCodeModalLabel" aria-hidden="true">
                                <div class="download-code-popup" id="download-code-popup">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="downloadCodeModalLabel">Download Code 💾</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <div class="download-code-form" id="download-code-form">
                                                        <div class="form-group">
                                                            <label for="download-code-fname" class="col-form-label">File name:</label>
                                                            <input type="text" id="download-code-fname" class="form-control" name="fname">
                                                            <select id="download-code-extention" name="extention">
                                                                <option value=".py">.py</option>
                                                                <option value=".ipynb">.ipynb</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" class="download-code-button" id="download-code-button" onclick=downloadPyIpynbCode() data-dismiss="modal">Download</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="tool-tip-popup" id="tip-popup">
                                <a href="#" class="tool-tip-close" onclick=closeToolTip()></a>
                                <h2>Tool Tip 💡</h2>
                                <h4>How to upload layouts? </h4>
                                </br>
                                </br>
                                <div class="tool-tip-github-button">
                                    </br>
                                    </br>
                                    <a class="github-button" href="https://github.com/chekoduadarsh"
                                        data-color-scheme="no-preference: dark; light: dark; dark: dark;"
                                        data-size="large" data-show-count="true"
                                        aria-label="Follow @chekoduadarsh on GitHub">Follow @chekoduadarsh</a>
                                    </br>
                                    <a class="github-button" href="https://github.com/chekoduadarsh/BlocklyML"
                                        data-color-scheme="no-preference: dark; light: dark; dark: dark;"
                                        data-icon="octicon-star" data-size="large" data-show-count="true"
                                        aria-label="Star chekoduadarsh/BlocklyML on GitHub">Star</a>
                                    </br>
                                    <a class="github-button" href="https://github.com/chekoduadarsh/BlocklyML/fork"
                                        data-color-scheme="no-preference: light; light: light; dark: dark;"
                                        data-icon="octicon-repo-forked" data-show-count="true"
                                        aria-label="Fork chekoduadarsh/BlocklyML on GitHub">Fork</a>
                                    </br>
                                    <a class="github-button"
                                        href="https://github.com/chekoduadarsh/BlocklyML/archive/refs/heads/main.zip"
                                        data-color-scheme="no-preference: dark; light: dark; dark: dark;"
                                        data-icon="octicon-download" data-size="large"
                                        aria-label="Download ntkme/github-buttons on GitHub">Download</a>
                                </div>
                                <p>
                                    1. Click on <img src='/static/media/upload.png' class="icon"> upload button </br>
                                    </br>
                                    <img src='https://raw.githubusercontent.com/chekoduadarsh/BlocklyML/main/media/blocklyML_upload.png'
                                        class="tool-tip-upload-page">
                                    </br>
                                    2. Edit the Url to downloadable xml link / Or drop you xml to drop in zone</br>
                                    3. Click on Upload button </br>
                                    </br>
                                    <b>Pro Tip: </b> You can use the default url to setup Pycaret Classifier on Iris
                                    data</br>
                                </p>
                            </div> -->

                            <!-- Button trigger modal -->
                            <button id="notebookButton" type="button" class="notext" title="Write notebook" data-toggle="modal" data-target="#notebookModal">
                                <img src='/static/media/notebook.png' class="icon">
                            </button>
                            <button id="copyButton" class="notext" title="Copy python code">
                                <img src='/static/media/copy.png' class="icon">
                            </button>
                            <button id="colabButton" class="notext" title="Launch google colab">
                                <img src='/static/media/colab_favicon.ico' class="icon">
                            </button>
                            <button id="trashButton" class="notext" title="...">
                                <img src='/static/media/1x1.gif' class="trash icon21">
                            </button>

                            <button id="linkButton" class="notext" title="...">
                                <img src='/static/media/1x1.gif' class="link icon21">
                            </button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="99%" colspan=2 id="content_area">
            </td>
        </tr>
    </table>


    <div id="content_blocks" class="content"></div>

    <pre><code id="content_python" class="language-python content prettyprint lang-py" ></code></pre>

    <!-- adding content new part -->
    <div id="content_notebook" class="content">
        <iframe src="http://localhost:8889/" id="iframe_notebook" target="_self"></iframe>
    </div>
    <!-- end new part -->

    <xml id="toolbox">
        <category name="%{BKY_CATLOGIC}" colour="%{BKY_LOGIC_HUE}">
            <block type="controls_if"></block>
            <block type="logic_compare"></block>
            <block type="logic_operation"></block>
            <block type="logic_negate"></block>
            <block type="logic_boolean"></block>
            <block type="logic_null"></block>
            <block type="logic_ternary"></block>
        </category>
        <category name="%{BKY_CATLOOPS}" colour="%{BKY_LOOPS_HUE}">
            <block type="controls_repeat_ext">
                <value name="TIMES">
                    <shadow type="math_number">
                        <field name="NUM">10</field>
                    </shadow>
                </value>
            </block>
            <block type="controls_whileUntil"></block>
            <block type="controls_for">
                <value name="FROM">
                    <shadow type="math_number">
                        <field name="NUM">1</field>
                    </shadow>
                </value>
                <value name="TO">
                    <shadow type="math_number">
                        <field name="NUM">10</field>
                    </shadow>
                </value>
                <value name="BY">
                    <shadow type="math_number">
                        <field name="NUM">1</field>
                    </shadow>
                </value>
            </block>
            <block type="controls_forEach"></block>
            <block type="controls_flow_statements"></block>
        </category>
        <category name="%{BKY_CATMATH}" colour="%{BKY_MATH_HUE}">
            <block type="math_number">
                <field name="NUM">123</field>
            </block>
            <block type="math_arithmetic">
                <value name="A">
                    <shadow type="math_number">
                        <field name="NUM">1</field>
                    </shadow>
                </value>
                <value name="B">
                    <shadow type="math_number">
                        <field name="NUM">1</field>
                    </shadow>
                </value>
            </block>
            <block type="math_single">
                <value name="NUM">
                    <shadow type="math_number">
                        <field name="NUM">9</field>
                    </shadow>
                </value>
            </block>
            <block type="math_trig">
                <value name="NUM">
                    <shadow type="math_number">
                        <field name="NUM">45</field>
                    </shadow>
                </value>
            </block>
            <block type="math_constant"></block>
            <block type="math_number_property">
                <value name="NUMBER_TO_CHECK">
                    <shadow type="math_number">
                        <field name="NUM">0</field>
                    </shadow>
                </value>
            </block>
            <block type="math_round">
                <value name="NUM">
                    <shadow type="math_number">
                        <field name="NUM">3.1</field>
                    </shadow>
                </value>
            </block>
            <block type="math_on_list"></block>
            <block type="math_modulo">
                <value name="DIVIDEND">
                    <shadow type="math_number">
                        <field name="NUM">64</field>
                    </shadow>
                </value>
                <value name="DIVISOR">
                    <shadow type="math_number">
                        <field name="NUM">10</field>
                    </shadow>
                </value>
            </block>
            <block type="math_constrain">
                <value name="VALUE">
                    <shadow type="math_number">
                        <field name="NUM">50</field>
                    </shadow>
                </value>
                <value name="LOW">
                    <shadow type="math_number">
                        <field name="NUM">1</field>
                    </shadow>
                </value>
                <value name="HIGH">
                    <shadow type="math_number">
                        <field name="NUM">100</field>
                    </shadow>
                </value>
            </block>
            <block type="math_random_int">
                <value name="FROM">
                    <shadow type="math_number">
                        <field name="NUM">1</field>
                    </shadow>
                </value>
                <value name="TO">
                    <shadow type="math_number">
                        <field name="NUM">100</field>
                    </shadow>
                </value>
            </block>
            <block type="math_random_float"></block>
            <block type="math_atan2">
                <value name="X">
                    <shadow type="math_number">
                        <field name="NUM">1</field>
                    </shadow>
                </value>
                <value name="Y">
                    <shadow type="math_number">
                        <field name="NUM">1</field>
                    </shadow>
                </value>
            </block>
        </category>
        <category name="%{BKY_CATTEXT}" colour="%{BKY_TEXTS_HUE}">
            <block type="text"></block>
            <block type="text_join"></block>
            <block type="text_append">
                <value name="TEXT">
                    <shadow type="text"></shadow>
                </value>
            </block>
            <block type="text_length">
                <value name="VALUE">
                    <shadow type="text">
                        <field name="TEXT">abc</field>
                    </shadow>
                </value>
            </block>
            <block type="text_isEmpty">
                <value name="VALUE">
                    <shadow type="text">
                        <field name="TEXT"></field>
                    </shadow>
                </value>
            </block>
            <block type="text_indexOf">
                <value name="VALUE">
                    <block type="variables_get">
                        <field name="VAR">{textVariable}</field>
                    </block>
                </value>
                <value name="FIND">
                    <shadow type="text">
                        <field name="TEXT">abc</field>
                    </shadow>
                </value>
            </block>
            <block type="text_charAt">
                <value name="VALUE">
                    <block type="variables_get">
                        <field name="VAR">{textVariable}</field>
                    </block>
                </value>
            </block>
            <block type="text_getSubstring">
                <value name="STRING">
                    <block type="variables_get">
                        <field name="VAR">{textVariable}</field>
                    </block>
                </value>
            </block>
            <block type="text_changeCase">
                <value name="TEXT">
                    <shadow type="text">
                        <field name="TEXT">abc</field>
                    </shadow>
                </value>
            </block>
            <block type="text_trim">
                <value name="TEXT">
                    <shadow type="text">
                        <field name="TEXT">abc</field>
                    </shadow>
                </value>
            </block>
            <block type="text_print">
                <value name="TEXT">
                    <shadow type="text">
                        <field name="TEXT">abc</field>
                    </shadow>
                </value>
            </block>
            <block type="text_prompt_ext">
                <value name="TEXT">
                    <shadow type="text">
                        <field name="TEXT">abc</field>
                    </shadow>
                </value>
            </block>
        </category>
        <category name="%{BKY_CATLISTS}" colour="%{BKY_LISTS_HUE}">
            <block type="lists_create_with">
                <mutation items="0"></mutation>
            </block>
            <block type="lists_create_with"></block>
            <block type="lists_repeat">
                <value name="NUM">
                    <shadow type="math_number">
                        <field name="NUM">5</field>
                    </shadow>
                </value>
            </block>
            <block type="lists_length"></block>
            <block type="lists_isEmpty"></block>
            <block type="lists_indexOf">
                <value name="VALUE">
                    <block type="variables_get">
                        <field name="VAR">{listVariable}</field>
                    </block>
                </value>
            </block>
            <block type="lists_getIndex">
                <value name="VALUE">
                    <block type="variables_get">
                        <field name="VAR">{listVariable}</field>
                    </block>
                </value>
            </block>
            <block type="lists_setIndex">
                <value name="LIST">
                    <block type="variables_get">
                        <field name="VAR">{listVariable}</field>
                    </block>
                </value>
            </block>
            <block type="lists_getSublist">
                <value name="LIST">
                    <block type="variables_get">
                        <field name="VAR">{listVariable}</field>
                    </block>
                </value>
            </block>
            <block type="lists_split">
                <value name="DELIM">
                    <shadow type="text">
                        <field name="TEXT">,</field>
                    </shadow>
                </value>
            </block>
            <block type="lists_sort"></block>
        </category>
        <category name="%{BKY_CATCOLOUR}" colour="%{BKY_COLOUR_HUE}">
            <block type="colour_picker"></block>
            <block type="colour_random"></block>
            <block type="colour_rgb">
                <value name="RED">
                    <shadow type="math_number">
                        <field name="NUM">100</field>
                    </shadow>
                </value>
                <value name="GREEN">
                    <shadow type="math_number">
                        <field name="NUM">50</field>
                    </shadow>
                </value>
                <value name="BLUE">
                    <shadow type="math_number">
                        <field name="NUM">0</field>
                    </shadow>
                </value>
            </block>
            <block type="colour_blend">
                <value name="COLOUR1">
                    <shadow type="colour_picker">
                        <field name="COLOUR">#ff0000</field>
                    </shadow>
                </value>
                <value name="COLOUR2">
                    <shadow type="colour_picker">
                        <field name="COLOUR">#3333ff</field>
                    </shadow>
                </value>
                <value name="RATIO">
                    <shadow type="math_number">
                        <field name="NUM">0.5</field>
                    </shadow>
                </value>
            </block>
        </category>



        <category name="Input/Output" colour="%{BKY_LISTS_HUE}">

            <block type="Print">
                <field name="Print">Print</field>
            </block>
            <block type="Input">
                <field name="Input">Input</field>
            </block>

        </category>
        <sep></sep>


        <category name=DataFrame colour="%{BKY_TEXTS_HUE}">

            <block type="pandas_read_csv">
                <field type="pandas.read_csv">Read DataFrame</field>
            </block>
            <block type="dataframe_print">
                <field type="dataframe_print">Print DataFrame</field>
            </block>
            <block type="pandas_select_columns">
                <field type="pandas_select_columns">Select DataFrame Column</field>
            </block>

            <block type="pandas_set_columns">
                <field type="pandas_set_columns">Add Column to DataFrame</field>
            </block>

            <block type="pandas_drop_columns">
                <field type="pandas_drop_columns">Dataframe Drop Columns </field>
            </block>
            <block type="pandas_sample">
                <field type="pandas_sample">Dataframe Sampling</field>
            </block>
            <block type="dataframe_Filter">
                <field type="pandas.filter">DataFrame Filter</field>
            </block>
            <block type="dataframe_Map">
                <field type="dataframe_Map">DataFrame Map</field>
            </block>
        </category>

        <category name=Datasets colour="%{BKY_LOGIC_HUE}">

            <block type="seaborn_dataset">
                <field name="Dataset">iris</field>
            </block>

        </category>
        <category name=Dictionary colour="%{BKY_COLOUR_HUE}">
            <block type="create_dict">
            </block>
            <block type="dict_append">
            </block>
        </category>
        <sep></sep>

        <category name=Bias colour="%{BKY_COLOUR_HUE}">
            <block type="BIAS_Intersectional">
                <field type="BIAS_Intersectional">Check intersectional bias</field>
            </block>
            <!--
            <block type="BIAS_Anchoring">
                <field type="BIAS_Anchoring">Check anchoring bias</field>
            </block>
            -->
        </category>
        <sep></sep>

        <category name="%{BKY_CATVARIABLES}" colour="%{BKY_VARIABLES_HUE}" custom="VARIABLE"></category>
        <category name="%{BKY_CATFUNCTIONS}" colour="%{BKY_PROCEDURES_HUE}" custom="PROCEDURE"> </category>
    </xml>

</body>

</html>
